.elementor-8 .elementor-element.elementor-element-e9297cf {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-e9297cf:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-e9297cf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-e9297cf,
.elementor-8 .elementor-element.elementor-element-e9297cf::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-32e82de {
  --display: grid;
  --e-con-grid-template-columns: repeat(2, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --grid-auto-flow: row;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-435e519 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-890d05e {
  text-align: left;
}
.elementor-8 .elementor-element.elementor-element-890d05e img {
  max-width: 38%;
}
.elementor-8 .elementor-element.elementor-element-a844c72 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-7f72c61 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-0e5cbe1 {
  z-index: 2;
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-0e5cbe1
  .elementor-heading-title {
  color: #fcc93c;
  font-family: "Comic Neue", Sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-5bdfe47
  > .elementor-widget-container {
  margin: -50px 0px -20px 0px;
}
.elementor-8 .elementor-element.elementor-element-75ab5cc {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-d8954bb {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 3px 0px 3px 0px;
  --border-top-width: 3px;
  --border-right-width: 0px;
  --border-bottom-width: 3px;
  --border-left-width: 0px;
  border-color: #fcc93c;
  --border-color: #fcc93c;
}
.elementor-8
  .elementor-element.elementor-element-d8954bb:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-d8954bb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-d8954bb,
.elementor-8 .elementor-element.elementor-element-d8954bb::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-91b761a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-91b761a:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-91b761a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-91b761a,
.elementor-8 .elementor-element.elementor-element-91b761a::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-91a6585 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-276a3e5 {
  --display: grid;
  --e-con-grid-template-columns: repeat(2, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --grid-auto-flow: row;
  --background-transition: 0.3s;
  --border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}
.elementor-8
  .elementor-element.elementor-element-276a3e5:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-276a3e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(241deg, #fcc93c 0%, #44ffc1 100%);
}
.elementor-8 .elementor-element.elementor-element-276a3e5,
.elementor-8 .elementor-element.elementor-element-276a3e5::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-bfe8c1a {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-71b5ebe img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-8 .elementor-element.elementor-element-8b444ee {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-9077262 {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-9077262
  .elementor-heading-title {
  color: #000000;
  font-family: "Comic Neue", Sans-serif;
  font-size: 33px;
  font-weight: 600;
}
.elementor-8 .elementor-element.elementor-element-4aef489 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-78a939d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-78a939d:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-78a939d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-78a939d,
.elementor-8 .elementor-element.elementor-element-78a939d::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-7027ed2 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-6cc93c1 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-00cacc8
  > .elementor-widget-container {
  margin: 0px 0px -40px 0px;
}
.elementor-8 .elementor-element.elementor-element-00cacc8 img {
  max-width: 51%;
}
.elementor-8 .elementor-element.elementor-element-b9fa49d {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 25px 25px 25px 25px;
}
.elementor-8 .elementor-element.elementor-element-b9fa49d,
.elementor-8 .elementor-element.elementor-element-b9fa49d::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-5eaa541 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-0ad99fe {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 3px 0px 3px 0px;
  --border-top-width: 3px;
  --border-right-width: 0px;
  --border-bottom-width: 3px;
  --border-left-width: 0px;
  border-color: #fcc93c;
  --border-color: #fcc93c;
}
.elementor-8
  .elementor-element.elementor-element-0ad99fe:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-0ad99fe
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-0ad99fe,
.elementor-8 .elementor-element.elementor-element-0ad99fe::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-dfcca27 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-dfcca27:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-dfcca27
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-dfcca27,
.elementor-8 .elementor-element.elementor-element-dfcca27::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-2cbf187 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-8afa039 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-a905c6a {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-a905c6a
  .elementor-heading-title {
  color: #fcc93c;
  font-family: "Comic Neue", Sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.elementor-8 .elementor-element.elementor-element-5ff7479 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-8fa44fa {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-8fa44fa:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-8fa44fa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-8fa44fa,
.elementor-8 .elementor-element.elementor-element-8fa44fa::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-b1617f1 {
  --spacer-size: 50px;
}
.elementor-8 .elementor-element.elementor-element-16471aa img {
  max-width: 18%;
}
.elementor-8 .elementor-element.elementor-element-4ba63b2 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-b9e5812 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-b9e5812
  .elementor-heading-title {
  color: #fcc93c;
  font-family: "Comic Neue", Sans-serif;
  font-size: 70px;
  font-weight: 600;
}
.elementor-8 .elementor-element.elementor-element-80ddac8 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-80ddac8
  .elementor-heading-title {
  color: #fcc93c;
  font-family: "Comic Neue", Sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.elementor-8
  .elementor-element.elementor-element-6e1fb15
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
}
.elementor-8 .elementor-element.elementor-element-6e1fb15 img {
  max-width: 32%;
}
.elementor-8 .elementor-element.elementor-element-98a25d0 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-98a25d0:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-98a25d0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0c0c0c;
}
.elementor-8 .elementor-element.elementor-element-98a25d0,
.elementor-8 .elementor-element.elementor-element-98a25d0::before {
  --border-transition: 0.3s;
}
.elementor-8 .elementor-element.elementor-element-89c3fc4 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-89c3fc4
  .elementor-heading-title {
  color: #806826;
  font-family: "Comic Neue", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 58px;
}
@media (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-276a3e5 {
    --width: 79%;
  }
  .elementor-8 .elementor-element.elementor-element-6cc93c1 {
    --width: 79%;
  }
  .elementor-8 .elementor-element.elementor-element-b9fa49d {
    --width: 79%;
  }
  .elementor-8 .elementor-element.elementor-element-8afa039 {
    --width: 79%;
  }
  .elementor-8 .elementor-element.elementor-element-4ba63b2 {
    --width: 79%;
  }
}
@media (max-width: 1024px) {
  .elementor-8 .elementor-element.elementor-element-32e82de {
    --grid-auto-flow: row;
  }
  .elementor-8 .elementor-element.elementor-element-276a3e5 {
    --grid-auto-flow: row;
  }
}
@media (max-width: 767px) {
  .elementor-8 .elementor-element.elementor-element-32e82de {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --grid-auto-flow: row;
  }
  .elementor-8 .elementor-element.elementor-element-890d05e {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-890d05e img {
    max-width: 67%;
  }
  .elementor-8 .elementor-element.elementor-element-276a3e5 {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --grid-auto-flow: row;
  }
  .elementor-8 .elementor-element.elementor-element-9077262 {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-00cacc8 img {
    max-width: 83%;
  }
  .elementor-8 .elementor-element.elementor-element-c1c940e {
    z-index: 2;
  }
  .elementor-8 .elementor-element.elementor-element-5eaa541 {
    --spacer-size: 282px;
  }
  .elementor-8
    .elementor-element.elementor-element-b9e5812
    .elementor-heading-title {
    font-size: 49px;
  }
}
